extends layout

block content
	h1= title
	nav
		a(href="/") Index
		a(href="/about" class="selected") About
		a(href="/form") Form

	//	I don't like img tags I prefer divs
	//	with the background image set a specific way
	//	but this img tag does work I just prefer
	//	to not use it
	//	img(src='/images/image.jpg') 
	div(class="img-replace")

	p 
		|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in rhoncus arcu. Pellentesque varius laoreet sollicitudin. In scelerisque vestibulum ultricies. Ut ac |magna tincidunt, mattis risus quis, rutrum turpis. Suspendisse ac imperdiet dolor. Aliquam eleifend ipsum ac nibh cursus facilisis. Cras nec interdum ante. Maecenas vitae |molestie metus. Vestibulum ullamcorper condimentum nisl, tempus scelerisque ante elementum nec. Cras purus nisl, lacinia vitae pretium a, iaculis semper odio. Vivamus |congue lectus quis interdum facilisis. Sed tincidunt dolor ut lobortis lobortis.

	p
		|Vivamus et nunc bibendum, cursus dolor sed, auctor nibh. In ut nulla id elit cursus mollis. Praesent molestie, mauris at pellentesque mattis, nibh mi aliquam sapien, nec |pulvinar mi odio quis ipsum. Vestibulum malesuada eros ac ligula auctor scelerisque. Aenean sit amet maximus nisl, et fermentum augue. Mauris a ligula viverra, pretium |ligula a, vehicula urna. Fusce sodales massa hendrerit accumsan tempor. Aenean bibendum fringilla eros ut hendrerit. Morbi faucibus porttitor arcu, faucibus finibus enim | luctus accumsan. Pellentesque dictum dolor volutpat enim vulputate rutrum nec pulvinar elit. Donec lobortis tellus non accumsan maximus. Ut ac libero id nulla malesuada |laoreet. Nulla lobortis augue et neque porta pellentesque at sit amet ipsum. Praesent placerat ante enim, tristique faucibus eros pretium ut. Integer consectetur velit |est, sit amet rhoncus ante facilisis nec.