extends layout

block content
	h1= title
	nav
		a(href="/") Index
		a(href="/about") About
		a(href="/form" class="selected") Form
		
	form.form-vertical(action="/form", method="post", role="form")
		input#name.form-control(name="name" placeholder="Name" type="text")
		input#email.form-control(name="email" placeholder="Email" type="text")
		textarea#comments.form-control(name="comments" placeholder="Comments")
		span#error.form-control= error
		input(type="submit" value="Submit")