extends layout

block content
	h1= title
	nav
		a(href="/" class="selected") Index
		a(href="/about") About
		a(href="/form") Form
	p 
		|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in rhoncus arcu. Pellentesque varius laoreet sollicitudin. In scelerisque vestibulum ultricies. Ut ac |magna tincidunt, mattis risus quis, rutrum turpis. Suspendisse ac imperdiet dolor. Aliquam eleifend ipsum ac nibh cursus facilisis. Cras nec interdum ante. Maecenas vitae |molestie metus. Vestibulum ullamcorper condimentum nisl, tempus scelerisque ante elementum nec. Cras purus nisl, lacinia vitae pretium a, iaculis semper odio. Vivamus |congue lectus quis interdum facilisis. Sed tincidunt dolor ut lobortis lobortis.