<!DOCTYPE html>
<html>
    <head>
        <title>Read TODO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2>Read TODO</h2>
            <ul>

            </ul>
        </div>

        <script type="text/javascript">
                      
            let myRequest = './data/todo.json';
            let ul = document.querySelector("ul");

            fetch(myRequest)
            .then(function(response) {              
                  return response.json();               
            })
            .then(function(json) { 
                console.log(json);
                json.forEach(function(item){
                    var li = document.createElement("li");
                    var t = document.createTextNode("Title: " + item.title + " Completed: " + item.completed);   
                    li.appendChild(t);
                    ul.appendChild(li);
                });
            });
           
        </script>
        
    </body>
</html>